html {
	font-family: 'JetBrains Mono Regular';
}

body {
	background-color: var(--bg-color);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-inline: 20px;
}

.primary-text {
	color: var(--primary-color);
}

.white-text {
	color: var(--white-color);
}

.h1 {
	font-family: 'JetBrains Mono Bold';
	font-size: 48px;
	line-height: 130%;
}

.button {
	font-family: 'JetBrains Mono Medium';
	background-color: var(--secondary-color);
	color: var(--gray-color);
	border: none;
	padding: 16px 32px;
	font-size: 16px;
	border-radius: 2px;
	cursor: not-allowed;
}

.active {
	background-color: var(--primary-color);
	color: var(--bg-color);
	cursor: pointer;
}

.link {
	color: var(--primary-color);
	font-size: 16px;
}
